<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Data Sources</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="fileInput.click()">Upload Files</ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
    <ion-segment>
      <ion-segment-button value="selectedFiles" contentId="selectedFiles">
        <ion-label>Selected Files <span class="file-count">{{files().length}}</span></ion-label>
      </ion-segment-button>
      <ion-segment-button value="myFiles" contentId="myFiles" layout="icon-end">
        <ion-label>My Files</ion-label>
        <ion-icon name="file-tray-outline" size="small"></ion-icon>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>
<ion-content>
  <input type="file" #fileInput id="fileDropRef" multiple (change)="fileBrowseHandler($event.target)" />
  <ion-segment-view>
    <ion-segment-content id="selectedFiles">
      <ion-list>
        
        @for(file of files(); track file.id) {
          <ion-item>
            <ion-icon slot="start" name="document-outline" color="secondary"></ion-icon>
            <ion-label>
              <h2>{{ file.name }}</h2>
              <!-- <p>{{ file.createdAt | date }}</p> -->
               <p>{{ file.progress }}</p>
            </ion-label>
            @if(file.uploaded) {
              <ion-button (click)="removeFile(file)" slot="end" color="danger" shape="round">
                <ion-icon slot="icon-only" name="close"></ion-icon>
              </ion-button>
            } @else {
              @if(file.progress === 100) {
                <ion-spinner slot="end" name="circular"></ion-spinner>
              } @else {
                <ion-badge slot="end">{{ file.progress || 0 }}%</ion-badge>
              }
            }
            <!-- <ion-badge>{{ file.type | fileType }}</ion-badge> -->
          </ion-item>
        } @empty {
          <ion-item>
            <ion-icon slot="start" name="document-outline" color="secondary"></ion-icon>
            <ion-label>
              <h2>No files selected</h2>
              <p>Upload or click "My Files" above to add files.</p>
            </ion-label>
          </ion-item>

          <ion-item  lines="none">
            <div appDropZone (fileDropped)="onFileDropped($event)" class="drop-zone">
              Drop files here or browse "My Files" above to add files to your assistant .
            </div>
          </ion-item>
        }
      </ion-list>    
    </ion-segment-content>
    <ion-segment-content id="myFiles">
        <ion-list>
          @for (file of myFilesResource.value(); track file.id) {
            <ion-item (click)="handleMyFileSelect(file)" button>
              @if (file.selected) {
                <ion-icon color="success" name="checkmark-outline" slot="start"></ion-icon>
              } @else {
                <ion-icon [name]="file.type | fileTypeIcon" slot="start" color="secondary"></ion-icon>
              }
              <ion-label>
                <h2><ion-text [color]="file.selected ? 'medium' : ''">{{ file.name }}</ion-text></h2>
                <p>{{ file.createdAt | date }}</p>
              </ion-label>
              <ion-badge>{{ file.type | fileType }}</ion-badge>
            </ion-item>
          } @empty {
            @if(myFilesResource.status() === status.Resolved) {
              <ion-item>
                <ion-icon slot="start" name="document-outline" color="secondary"></ion-icon>
                <ion-label>
                  <h2>You have not uploaded any files yet</h2>
                  <p>But this is where they'd be if you did.</p>
                </ion-label>
              </ion-item>
            }
            
          }
          @if (myFilesResource.isLoading()) {
            @for(item of [1,2,3,4,5,6,7,8]; track item) {
              <ion-item>
                <ion-thumbnail slot="start">
                  <ion-skeleton-text [animated]="true"></ion-skeleton-text>
                </ion-thumbnail>
                <ion-label>
                  <ion-skeleton-text style="width: 60%" animated></ion-skeleton-text>
                  <ion-skeleton-text style="width: 30%" animated></ion-skeleton-text>
                </ion-label>
              </ion-item>
            }
          }
    
      </ion-list>
    </ion-segment-content>
  </ion-segment-view>

</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-button (click)="handleNext()" expand="block">
      Next
      <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-footer>