<ion-header>
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Advanced Settings</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()" color="primary">Cancel</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <p>test</p>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-button expand="block" color="primary">Create</ion-button>
  </ion-toolbar>
</ion-footer>