<ion-header>
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Advanced Settings</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()" color="primary">Cancel</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form [formGroup]="form">
    <ion-item-divider [sticky]="true">
      Advanced Settings
    </ion-item-divider>
      <div formGroupName="dataSourceOptions">
        <ion-item>
          <ion-checkbox formControlName="insertAttachedDocumentsMetadata" labelPlacement="start">Insert Attached Documents Metadata</ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-checkbox formControlName="insertAttachedDocuments" labelPlacement="start">Insert Attached Documents</ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-checkbox formControlName="insertConversationDocuments" labelPlacement="start">Insert Conversation Documents</ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-checkbox formControlName="disableDataSources" labelPlacement="start">Disable Data Sources</ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-checkbox formControlName="insertConversationDocumentsMetadata" labelPlacement="start">Insert Conversation Documents Metadata</ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-checkbox formControlName="ragConversationDocuments" labelPlacement="start">RAG Conversation Documents</ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-checkbox formControlName="ragAttachedDocuments" labelPlacement="start">RAG Attached Documents</ion-checkbox>
        </ion-item>
      </div>
  </form>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-button (click)="createAssistant()" expand="block" color="primary">Create</ion-button>
  </ion-toolbar>
</ion-footer>