<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-back-button defaultHref="/" slot="start"></ion-back-button>
    <ion-title>Developer Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large">Developer Settings</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-list>
      <ion-item>
        <ion-label>
          @if (chatEndpoint() === '') {
            <ion-text color="danger">
              Developer chat endpoint not set.
            </ion-text>
          } @else {
            {{ chatEndpoint() }}
          }
        </ion-label>
        <ion-button slot="end" id="present-chat-endpoint-alert">
          Set Chat Endpoint
        </ion-button>
      </ion-item>
      <ion-item>
        <ion-label>
          @if (jwt() === '') {
            <ion-text color="danger">
              Bearer token not set.
            </ion-text>
          } @else {
            <ion-text style="font-size: 11px;">
              {{ jwt() }}
            </ion-text>
          }
        </ion-label>
        <ion-button slot="end" id="present-token-alert">
          Set Bearer Token
        </ion-button>
      </ion-item>
    </ion-list>
  </div>
  <ion-alert
    trigger="present-token-alert"
    header="Developer Token"
    [buttons]="alertJwtButtons"
    [inputs]="alertJwtInput"
    (didDismiss)="setResult($event)"
></ion-alert>
  <ion-alert
    trigger="present-chat-endpoint-alert"
    header="Chat Endpoint Url"
    [buttons]="alertChatEndpointButtons"
    [inputs]="alertChatEndpointInput"
    (didDismiss)="setChatEndpoint($event)"
></ion-alert>
</ion-content>
