<div class="ion-padding">
  <ion-button>
    <ion-icon slot="start" name="save-outline"></ion-icon>
    Save
  </ion-button>
  <ion-button>
    <ion-icon slot="start" name="rocket-outline"></ion-icon>
    New
  </ion-button>
</div>
<ion-list>
  <ion-item-divider color="medium" sticky>
    Workspaces
  </ion-item-divider>
</ion-list>
<ion-card>
  <ion-item lines="none">
    <ion-icon slot="start" name="briefcase-outline" color="secondary"></ion-icon>
    <ion-label>
      <h1>No workspaces yet.</h1>
      <p><ion-text color="medium">But if you created them, this is where they'd be.</ion-text></p>
    </ion-label>
    
  </ion-item>
</ion-card>