<ion-header>
  <ion-toolbar color="light">
      <ion-title>Create Custom Instructions</ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="dismiss()">Dismiss</ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="ion-padding">
    <form [formGroup]="form">
        <ion-input
          label="Name"
          labelPlacement="floating"
          placeholder="Enter a name"
          formControlName="name"
          helperText="A short descriptive name is helpful"
          errorText="Name is required"
          ></ion-input>
        <ion-textarea
          label="Description"
          placeholder="Describe your prompt. This is particularily helpful if you share them with others."
          labelPlacement="floating"
          helperText="What do these custom instructions do?"
          formControlName="description"
          ></ion-textarea>
        <ion-textarea
          label="Prompt"
          rows="5"
          labelPlacement="floating"
          placeholder="Prompt instructions are the rules and patterns you want the LLM to follow when you interact with it."
          formControlName="prompt"
          helperText="Your custom instructions go here"
          errorText="A prompt is required"
          ></ion-textarea>
        <ion-input
          label="Tags"
          labelPlacement="floating"
          placeholder="Separate tags with commas"
          helperText="Tags are optional"
          formControlName="tags"
          ></ion-input>
        </form>
      </div>
</ion-content>
<ion-footer>
  <ion-toolbar color="light">
    <ion-button (click)="createInstructions()"expand="block">Save</ion-button>
  </ion-toolbar>
</ion-footer>