<div class="ion-padding">
  <ion-button>
    <ion-icon slot="start" name="share-social-outline"></ion-icon>
    Share with Others
  </ion-button>
</div>
<ion-list>
  <ion-item-divider color="medium" sticky>
    Shared with you
  </ion-item-divider>
</ion-list>
<ion-card>
  <ion-item lines="none">
    <ion-icon slot="start" name="share-social-outline" color="secondary"></ion-icon>
    <ion-label>
      <h1>No conversations shared with you.</h1>
      <p>But if there were, this is where you'd see it.</p>
    </ion-label>
    
  </ion-item>
</ion-card>