@for(assistant of assistantResource.value(); track assistant.id) {
  <ion-item color="light" button detail="false">
    <ion-label>
      <h2>{{ assistant.name }}</h2>
    </ion-label>
    @if(assistant.assistantId === pendingAssistantDeleteId) {
      <ion-spinner slot="end" name="dots" color="tertiary"></ion-spinner>
    } @else {
      <ion-button color="tertiary" slot="end" fill="clear" id="assistant-menu-{{ assistant.id }}">
        <ion-icon slot="icon-only" size="small" name="ellipsis-horizontal"></ion-icon>
      </ion-button>
    }
  </ion-item>
  <ion-popover trigger="assistant-menu-{{ assistant.id }}" triggerAction="click" #assistantPopover
      (didDismiss)="$event.stopPropagation()">
      <ng-template>
        <ion-list>
          <ion-item lines="none" button>
            <ion-icon slot="start" name="create-outline" color="primary"></ion-icon>
            <ion-label>Edit</ion-label>
          </ion-item>
          <ion-item (click)="presentDeleteAlert(assistant.assistantId, assistantPopover)" lines="none" button>
            <ion-icon slot="start" name="trash-outline" color="danger"></ion-icon>
            <ion-label>Delete</ion-label>
          </ion-item>
        </ion-list>
      </ng-template>
    </ion-popover>
} @empty {
  @if(assistantResource.status() === status.Resolved) {
    <ion-item>
      <ion-icon slot="start" name="document-outline" color="secondary"></ion-icon>
      <ion-label>
        <h2>No assistants created</h2>
        <p>Click "Assistant" above to create a new assistant.</p>
      </ion-label>
    </ion-item>
  }
}

@if (assistantResource.isLoading()) {
  @for(item of [1,2,3,4]; track item) {
    <ion-item>
      <ion-label>
        <ion-skeleton-text style="width: 60%" animated></ion-skeleton-text>
        <ion-skeleton-text style="width: 30%" animated></ion-skeleton-text>
      </ion-label>
    </ion-item>
  }
}
