// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  /** safe area **/
  --ion-safe-area-right: 20px;
  /** primary **/
  --ion-color-primary: #0033a0;
  --ion-color-primary-rgb: 0, 51, 160;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #002d8d;
  --ion-color-primary-tint: #1a47aa;

  /** secondary **/
  --ion-color-secondary: #d64309;
  --ion-color-secondary-rgb: 214, 67, 9;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #bc3b08;
  --ion-color-secondary-tint: #da5622;

  /** tertiary **/
  --ion-color-tertiary: #0072ce;
  --ion-color-tertiary-rgb: 0, 114, 206;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #0064b5;
  --ion-color-tertiary-tint: #1a80d3;

  /** success **/
  --ion-color-success: #1d8747;
  --ion-color-success-rgb: 29, 135, 71;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #1a773e;
  --ion-color-success-tint: #349359;

  /** warning **/
  --ion-color-warning: #837602;
  --ion-color-warning-rgb: 131, 118, 2;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255, 255, 255;
  --ion-color-warning-shade: #736802;
  --ion-color-warning-tint: #8f841b;

  /** danger **/
  --ion-color-danger: #e71d38;
  --ion-color-danger-rgb: 231, 29, 56;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #cb1a31;
  --ion-color-danger-tint: #e9344c;

  /** emergency **/
  --ion-color-emergency: #d64309;
  --ion-color-emergency-rgb: 214, 67, 9;
  --ion-color-emergency-contrast: #ffffff;
  --ion-color-emergency-contrast-rgb: 255, 255, 255;
  --ion-color-emergency-shade: #cb1a31;
  --ion-color-emergency-tint: #e9344c;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 36, 40;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #92949c;
  --ion-color-medium-rgb: 146, 148, 156;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #808289;
  --ion-color-medium-tint: #9d9fa6;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 245, 248;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;

  /** Canvas */
  --ion-color-canvas: #e53c2e;
  --ion-color-canvas-rgb: 229, 60, 46;
  --ion-color-canvas-contrast: #ffffff;
  --ion-color-canvas-contrast-rgb: 255, 255, 255;
  --ion-color-canvas-shade: #ca3528;
  --ion-color-canvas-tint: #e85043;

  /** Background */
  --ion-color-background: #f4f5f8;
  --ion-color-background-rgb: 244, 244, 244;
  --ion-color-background-contrast: #000000;
  --ion-color-background-contrast-rgb: 0, 0, 0;
  --ion-color-background-shade: #d7d8da;
  --ion-color-background-tint: #f5f6f9;
}

.ion-color-canvas {
  --ion-color-base: var(--ion-color-canvas);
  --ion-color-base-rgb: var(--ion-color-canvas-rgb);
  --ion-color-contrast: var(--ion-color-canvas-contrast);
  --ion-color-contrast-rgb: var(--ion-color-canvas-contrast-rgb);
  --ion-color-shade: var(--ion-color-canvas-shade);
  --ion-color-tint: var(--ion-color-canvas-tint);
}

.ion-color-background {
  --ion-color-base: var(--ion-color-background);
  --ion-color-base-rgb: var(--ion-color-background-rgb);
  --ion-color-contrast: var(--ion-color-background-contrast);
  --ion-color-contrast-rgb: var(--ion-color-background-contrast-rgb);
  --ion-color-shade: var(--ion-color-background-shade);
  --ion-color-tint: var(--ion-color-background-tint);
}

.ion-color-emergency {
  --ion-color-base: var(--ion-color-emergency);
  --ion-color-base-rgb: var(--ion-color-emergency-rgb);
  --ion-color-contrast: var(--ion-color-emergency-contrast);
  --ion-color-contrast-rgb: var(--ion-color-emergency-contrast-rgb);
  --ion-color-shade: var(--ion-color-emergency-shade);
  --ion-color-tint: var(--ion-color-emergency-tint);
}

// SIDENAV LIGHT THEME --------------------

.active-item {
  --background: var(--ion-color-primary-shade);
  border-left: 4px solid var(--ion-color-secondary);
  color: #fff;
}

ion-split-pane {
  ion-menu {
    --background: var(--ion-color-primary);
    --color: #fff;

    ion-content {
      --background: var(--ion-color-primary);
      --color: #fff;

      ion-list-header {
        --background: var(--ion-color-primary);
        --color: var(--ion-color-light);
      }

      ion-list {
        ion-item {
          --background: var(--ion-color-primary);
          --color: #fff;

          ion-icon {
            color: #fff;
          }
        }
      }
    }
  }
}

//@media (prefers-color-scheme: dark) {
/*
   * Dark Colors
   * -------------------------------------------
   */

body[color-theme='Dark'] {
  /** primary **/
  --ion-color-primary: #d64309;
  --ion-color-primary-rgb: 214, 67, 9;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #bc3b08;
  --ion-color-primary-tint: #da5622;

  /** secondary **/
  --ion-color-secondary: #0076d6;
  --ion-color-secondary-rgb: 0, 118, 214;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #0068bc;
  --ion-color-secondary-tint: #1a84da;

  /** tertiary **/
  --ion-color-tertiary: #f6f7f9;
  --ion-color-tertiary-rgb: 246, 247, 249;
  --ion-color-tertiary-contrast: #000000;
  --ion-color-tertiary-contrast-rgb: 0, 0, 0;
  --ion-color-tertiary-shade: #d8d9db;
  --ion-color-tertiary-tint: #f7f8fa;

  --ion-color-success: #2fdf75;
  --ion-color-success-rgb: 47, 223, 117;
  --ion-color-success-contrast: #000000;
  --ion-color-success-contrast-rgb: 0, 0, 0;
  --ion-color-success-shade: #29c467;
  --ion-color-success-tint: #44e283;

  --ion-color-warning: #ffd534;
  --ion-color-warning-rgb: 255, 213, 52;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0bb2e;
  --ion-color-warning-tint: #ffd948;

  --ion-color-danger: #ff4961;
  --ion-color-danger-rgb: 255, 73, 97;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #e04055;
  --ion-color-danger-tint: #ff5b71;

  /** emergency **/
  --ion-color-emergency: #d64309;
  --ion-color-emergency-rgb: 214, 67, 9;
  --ion-color-emergency-contrast: #ffffff;
  --ion-color-emergency-contrast-rgb: 255, 255, 255;
  --ion-color-emergency-shade: #cb1a31;
  --ion-color-emergency-tint: #e9344c;

  --ion-color-dark: #f4f5f8;
  --ion-color-dark-rgb: 244, 245, 248;
  --ion-color-dark-contrast: #000000;
  --ion-color-dark-contrast-rgb: 0, 0, 0;
  --ion-color-dark-shade: #d7d8da;
  --ion-color-dark-tint: #f5f6f9;

  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152, 154, 162;
  --ion-color-medium-contrast: #000000;
  --ion-color-medium-contrast-rgb: 0, 0, 0;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  --ion-color-light: #222428;
  --ion-color-light-rgb: 34, 36, 40;
  --ion-color-light-contrast: #ffffff;
  --ion-color-light-contrast-rgb: 255, 255, 255;
  --ion-color-light-shade: #1e2023;
  --ion-color-light-tint: #383a3e;

  --ion-color-canvas: #e53c2e;
  --ion-color-canvas-rgb: 229, 60, 46;
  --ion-color-canvas-contrast: #ffffff;
  --ion-color-canvas-contrast-rgb: 255, 255, 255;
  --ion-color-canvas-shade: #ca3528;
  --ion-color-canvas-tint: #e85043;

  --ion-color-background: #121212;
  --ion-color-background-rgb: 18, 18, 18;
  --ion-color-background-contrast: #ffffff;
  --ion-color-background-contrast-rgb: 255, 255, 255;
  --ion-color-background-shade: #000000;
  --ion-color-background-tint: #131313;

  // DARK THEME SIDENAV COLORS -------------------

  .active-item {
    --background: var(--ion-color-light-shade);
    border-left: 4px solid var(--ion-color-secondary);
  }

  ion-split-pane {
    ion-menu {
      --background: #000;
      --color: #fff;

      ion-content {
        --background: #000;
        --color: #fff;

        ion-list-header {
          --background: #000;
          --color: #fff;
        }

        ion-list {
          ion-item {
            --background: #000;
          }
        }
      }
    }
  }

  ion-content {
    --background: #080a0a;
  }
}

/*
   * iOS Dark Theme
   * -------------------------------------------
   */

.ios body[color-theme='Dark'] {
  --ion-background-color: #000000;
  --ion-background-color-rgb: 0, 0, 0;

  --ion-text-color: #ffffff;
  --ion-text-color-rgb: 255, 255, 255;

  --ion-color-step-50: #0d0d0d;
  --ion-color-step-100: #1a1a1a;
  --ion-color-step-150: #262626;
  --ion-color-step-200: #333333;
  --ion-color-step-250: #404040;
  --ion-color-step-300: #4d4d4d;
  --ion-color-step-350: #595959;
  --ion-color-step-400: #666666;
  --ion-color-step-450: #737373;
  --ion-color-step-500: #808080;
  --ion-color-step-550: #8c8c8c;
  --ion-color-step-600: #999999;
  --ion-color-step-650: #a6a6a6;
  --ion-color-step-700: #b3b3b3;
  --ion-color-step-750: #bfbfbf;
  --ion-color-step-800: #cccccc;
  --ion-color-step-850: #d9d9d9;
  --ion-color-step-900: #e6e6e6;
  --ion-color-step-950: #f2f2f2;

  --ion-toolbar-background: #0d0d0d;

  --ion-item-background: #000000;

  --ion-card-background: #1c1c1d;
}

/*
   * Material Design Dark Theme
   * -------------------------------------------
   */

.md body[color-theme='Dark'] {
  --ion-background-color: #121212;
  --ion-background-color-rgb: 18, 18, 18;

  --ion-text-color: #ffffff;
  --ion-text-color-rgb: 255, 255, 255;

  --ion-border-color: #222222;

  --ion-color-step-50: #1e1e1e;
  --ion-color-step-100: #2a2a2a;
  --ion-color-step-150: #363636;
  --ion-color-step-200: #414141;
  --ion-color-step-250: #4d4d4d;
  --ion-color-step-300: #595959;
  --ion-color-step-350: #656565;
  --ion-color-step-400: #717171;
  --ion-color-step-450: #7d7d7d;
  --ion-color-step-500: #898989;
  --ion-color-step-550: #949494;
  --ion-color-step-600: #a0a0a0;
  --ion-color-step-650: #acacac;
  --ion-color-step-700: #b8b8b8;
  --ion-color-step-750: #c4c4c4;
  --ion-color-step-800: #d0d0d0;
  --ion-color-step-850: #dbdbdb;
  --ion-color-step-900: #e7e7e7;
  --ion-color-step-950: #f3f3f3;

  --ion-item-background: #1e1e1e;

  --ion-toolbar-background: #1f1f1f;

  --ion-tab-bar-background: #1f1f1f;

  --ion-card-background: #1e1e1e;
}
//}
